@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-poppins;
  }
}

.swiper {
    width: 75%;
    padding-bottom: 50px !important;
}

.swiper-pagination {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #D9D9D9;
    scale: 0.9;
}

.swiper-pagination-bullet-active {
    color: #41CBE2 !important;
    background: #41CBE2 !important;
    scale: 1;
}